ul.list-group {
  min-height: 130px;
}
body {
  font-family: "Open Sans", sans-serif;
}
.customize-header {
  background-color:#014656;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", sans-serif;
}
.dropover {
  background-color: rgba(0,0,0,0.3);
}
.dropover-active {
  background-color: rgba(0,0,0,0.9);
}
.bottom-trash {
  opacity: 0;
  color: #f1f1f1;
  font-size: 2.3rem;
  font-family: "Staatliches", sans-serif;
  transform: translateY(150px);
  transition: all .5s ease-in-out;
}
.bottom-trash-drag {
  transform: translateY(0);
  opacity: 1;
  background-color: rgba(234,0,39,.7);
  font-size: 2.3rem;
  color: #f1f1f1;
}
.bottom-trash-active {
  background-color: rgba(234,0,39,1);
  color:#f1f1f1;
}
/* original styling with green buttons
.btn-add, .btn-save {
  background-color: #81fb72;
  background-image: linear-gradient(45deg, #bbff8b 0%, #0bc13c 52%, #b2fc82 90%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}*/
.btn-add, .btn-save {
  background-color: #040404;
  background-image: linear-gradient(45deg, #474848 0%, #696b69 52%, #f1f3f0 90%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}
/* original styling with red buttons
.btn-close, .btn-delete {
  background-color: #ff0000;
  background-image: linear-gradient(180deg, #f14141 0%, #bd0909 52%, #ff4e4e 90%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}*/
.btn-close, .btn-delete {
  background-color: #040404;
  background-image: linear-gradient(45deg, #474848 0%, #696b69 52%, #f1f3f0 90%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}
.btn-close:hover, .btn-add:hover, .btn-save:hover, .btn-delete:hover {
  background-position: 1px -20px;
}

/* add custom classes */
.task-item-regular {
  background-color: white;
  color: #014656;
  font-weight: bold;
}
.item-warning {
  background-color: white;
  color: #f6a801;
  font-weight: bold;
}
.item-danger {
  background-color: white;
  color: #f63a01;
  font-weight: bold;
}
.badge-primary-custom {
  background-color: #00a2ad;
  color: white;
}